@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);


p, h1{
	font-family: 'Source Sans Pro', sans-serif;
}

.main{
	margin-left:20%;
	margin-right: 20%;
	margin-top: 20%;
	margin-bottom: 20%;
}

.social a{
  -webkit-filter: grayscale(.9);
  -webkit-transform: translateZ(0); 
}

.social a:hover {
  -webkit-filter: grayscale(0);
}